.play{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.how{
    grid-column: 1/3;
}
.person{
    color: #fff;
}
.compu{
    color: #fff;
}
.letter{
    color: #fff;
}